@page
@model IdentityLesson.Pages.ReferenceModel
@{
    ViewData["Title"] = "Reference";
}

<h1>Reference</h1>



<form method="post">
    <input type="text" name="person" placeholder="Имя Фамилия" />
    <input type="text" name="disease" placeholder="Болезнь" />
    <input type="submit" value="Получить справку"/>
</form>

